{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="masthead-heading text-uppercase mb-0">
        Studenten overzicht
    </h1>
    <td><a class="btn btn-outline-secondary"  role="button">Voeg student toe</a></td>
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>Voornaam</th>
            <th>Achternaam</th>
            <th>Email</th>
            <th>Leeftijd</th>
            <th>klas</th>
            <th>Acties</th>
        </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <td>{{ student.firstName }}</td>
                <td>{{ student.lastName }}</td>
                <td>{{ student.email }}</td>
                <td>{{ student.age }}</td>
                <td>{{ student.classroom }}</td>
                <td><a class="btn btn-outline-secondary" href="{{ path('app_show_student', {'id': student.id }) }}" role="button">Toon Student</a>  <a class="btn btn-outline-secondary" href="{{ path('app_show_student', {'id': student.id }) }}" role="button">Wijzig Student</a>  <a class="btn btn-outline-secondary" href="{{ path('app_show_student', {'id': student.id }) }}" role="button">Verwijder Student</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
